/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0 20px;
  min-width: 980px;
  max-width: 1400px;
}

/* Layout */

main {
  display: grid;
  grid-template-columns: 5fr 2fr 2fr;
  gap: 40px;
  padding: 20px 0;
}

/* header and footer */

header {
  border-bottom: 5px solid #aa6666;
}

footer {
  border-top: 5px solid #aa6666;
}

footer p {
  text-align: center;
}
body {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: 0.05rem;
}

h1,
h2,
nav a {
  font-family: "Roboto Slab", Georgia, serif;
  font-weight: bold;
  letter-spacing: 0.1rem;
}
h1 {
  font-size: 3rem;
  text-align: center;
}

h2 {
  font-size: 2rem;
  margin-bottom: 0;
}


/* First paragraph indentation */

section h2 + p {
  text-indent: 2rem;
}


/* Links */

a {
  color: #aa6666;
  text-decoration: underline;
}

a:visited {
  color: #884444;
}

a:hover,
a:focus {
  color: #662222;
  text-decoration: none;
}

a:focus {
  outline: none;
}